.error {
    color: red;
}

//============================ ERRORS PAGE
.forbidden-page {
    margin-top: -58px;
    .container {
        height: calc(100vh - 11.5rem);
    }
}
.error_box {
    text-align: center;
    h1 {
        font-size: 80px;
    }
    h2 {
        font-size: 42px;
    }
}
.access_error {
    .error_box {
        h2 {
            font-size: 30px;
        }
    }
}

//============================ LOGIN PAGE
.form-control {
    background: #ffffff;
    height: 46px;
}
.btn_social {
    height: 45px;
    border-radius: 45px;
    width: 48%;
}
.btn_media {
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(187, 194, 220);
    font-size: 18px;
}
.btn {
    font-size: 16px;
}
.btn_reset {
    background: rgb(24, 119, 242) !important;
}

//============================ STYLE FOR CITY INPUT, REGISTER PAGE
.sbx-google__submit,
.sbx-google__reset {
    display: none !important;
}
.sbx-google__input,
.sbx-google__input-placeholder {
    padding-right: 0 !important;
}
.sbx-google {
    width: 100% !important;
}
.input-group-city > div {
    width: 100%;
}
.form-control {
    &:focus {
        box-shadow: 0 0 0 0rem rgba(52, 144, 220, 0.25);
    }
}
.sbx-google__input:focus,
.sbx-google__input:active {
    box-shadow: inset 0 0 0 1px #a1cbef !important;
}
.form-control {
    border-radius: 0.25rem !important;
}

//=========================================== HOMEPAGE

//=========================================== HEADER
.custom_header {
    header {
        background: #ffffff;
        transition: .3s linear;
        border-bottom: 1px solid #ccc;
        box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
        #AirtaskerLogo {
            path {
                fill: #008fb4;
            }
        }
        .head_menu {
            li + li {
                a {
                    color: #545a77;
                }
            }
        }
        .nav_menu {
            li {
                a {
                    color: #545a77;
                }
            }
            .become_tacker {
                border: 1px solid #545a77; 
            }
        }
        .arrow_select {
            i {
                color: #545a77;
            }
            .header_lang {
                color: #545a77;
            }
        }
        .hide_menu {
            .nav_menu {
                .become_tacker {
                    border: none;
                }
            }
        }
    }
}
