.error {
    color: red;
}

//============================ HEADER PAGE
.nav_menu {
    li {
        a {
            color: $main-color;
        }
    }
}

//============================ ERRORS PAGE
.forbidden-page {
    margin-top: -58px;
    .container {
        height: calc(100vh - 11.5rem);
    }
}
.error_box {
    text-align: center;
    h1 {
        font-size: 80px;
    }
    h2 {
        font-size: 42px;
    }
}
.access_error {
    .error_box {
        h2 {
            font-size: 30px;
        }
    }
}